<div class="container mt-4">
  <h4>Footer Links</h4>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th style="width: 40%">Label</th>
          <th>Route</th>
          <th style="width: 90px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links; let i = index">
          <td>
            <input class="form-control form-control-sm" [(ngModel)]="link.label" />
          </td>
          <td>
            <input class="form-control form-control-sm" [(ngModel)]="link.route" />
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="remove(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex gap-2 mt-2">
    <button class="btn btn-primary btn-sm" type="button" (click)="addLink()">Add Link</button>
    <button class="btn btn-success btn-sm" type="button" (click)="save()">Save</button>
    <button class="btn btn-secondary btn-sm" type="button" (click)="reset()">Reset to defaults</button>
  </div>
</div>
